<div class="flex items-center justify-center p-6 gap-4 h-screen" title="Container for register">
  <div class="outline rounded-xl outline-gray-300 w-full max-w-sm p-8 shadow-2xl shadow-blue-700/20">
    <div class="text-slate-700 font-semibold p-3 text-2xl mb-3">Log in</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
      <!-- Email -->
      <div>
        <input class="block w-full outline outline-gray-300 hover:outline-gray-500 rounded-full mb-3 p-2" placeholder="email address" formControlName="email" required />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <p class="text-red-500 ml-4">Email is not valid!</p>
        </div>
      </div>

      <!-- Password   TODO: Add password validation-->
      <div>
        <input class="block w-full outline outline-gray-300 hover:outline-gray-500 rounded-full mb-4 p-2" placeholder="••••••••" type="password"
          formControlName="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <p class="text-red-500 ml-4">Password must be 10 character long!</p>
        </div>
      </div>

      <!-- Seller button  -->
      <button type="submit" [disabled]="loginForm.invalid"
            class="block w-full shadow-md text-white font-bold py-2 px-4 border rounded-full mb-3 bg-blue-400 border-blue-600 hover:bg-blue-600">
            Continue
      </button>

      <!-- Google button  -->

      <button class=" block w-full px-4 py-2 border rounded-full bg-white border-slate-200 font-bold text-gray-700 hover:bg-gray-200 hover:shadow transition duration-150 mb-3">
          <div class="flex flex-row justify-center items-center gap-2">
              <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
              <span>Login with Google</span>
          </div>
      </button>
    </form>
  </div>
</div>