<div class="flex items-center justify-center p-6 gap-4 h-screen" title="Container for register">
  <div class="outline rounded-xl outline-gray-300 w-full max-w-sm p-8 shadow-2xl shadow-blue-700/20">
    <div class="text-slate-700 font-semibold p-3 text-2xl mb-3">Log in</div>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

      <!-- Username -->
      <div>
        <input 
          class="block w-full outline outline-gray-300 hover:outline-gray-500 focus:outline-gray-500 rounded-full mb-3 p-2" 
          [ngClass]="{'outline-red-500': loginForm.get('name')?.invalid && (loginForm.get('name')?.touched || loginForm.get('name')?.dirty)}"
          placeholder="Username" formControlName="name" required />
      </div>

      <!-- Password -->
      <div class="relative">
        <input 
          class="block w-full outline outline-gray-300 hover:outline-gray-500 focus:outline-gray-500 rounded-full mb-2 p-2 pr-10" 
          [ngClass]="{'outline-red-500': loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)}"
          [type]="showPassword ? 'text' : 'password'" 
          placeholder="••••••••" 
          formControlName="password" />

        <!-- Toggle Password Button -->
        <button type="button" (click)="togglePasswordVisibility()" class="absolute top-2 right-4 text-gray-500 hover:text-gray-700">
          <!-- Slashed Eye -->
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
        </svg>
          <!-- Eye -->
          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" 
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
          </svg>
        </button>

        <!-- Validation Errors -->
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-red-600 text-sm mt-1">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 5 characters.</div>
        </div>

        <!-- Backend Error -->
        <div *ngIf="errorMessage && loginForm.get('password')?.valid" class="text-red-600 text-sm mt-1">
          {{ errorMessage }}
        </div>
      </div>

      <div class="pl-1 block w-full text-sm text-blue-400 hover:text-blue-600 mb-4 cursor-pointer">
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>
      <!-- Continue Button -->
      <button type="submit" [disabled]="loginForm.invalid"
        class="block w-full shadow-md text-white font-bold py-2 px-4 border rounded-full mb-3 bg-blue-500 border-blue-700 hover:bg-blue-600">
        Continue
      </button>

      <!-- Google Button -->
      <button class="block w-full px-4 py-2 border rounded-full bg-white border-slate-200 font-bold text-gray-700 hover:bg-gray-200 hover:shadow transition duration-150 mb-3">
        <div class="flex flex-row justify-center items-center gap-2">
          <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
          <span>Login with Google</span>
        </div>
      </button>
    </form>
    <div class="block w-full text-center text-gray-500 mt-4">
      <span>Don’t have an account? </span>
      <a routerLink="/register" routerLinkActive="active" class="text-blue-400 hover:text-blue-600">Sign up</a>
    </div>
  </div>
</div>
